# Python
__pycache__/
*.py[cod]
venv/
env/
.env
.env.local
.env.development
.env.*

# FastAPI specific
.pytest_cache/
.coverage
htmlcov/

# Data files
data/faiss_index/
data/logs/
*.log
logs/

# Development
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Embeeddings
data/embeddings/users

# Performance profiling
*.prof

notes.md
